{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block page_title 'App' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ source('@App/icon.svg') }}
        <span class="sf-toolbar-value">5</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Method: {{ collector.getData('method') }}</b>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ source('@App/icon.svg') }}</span>
        <strong>AppBundle</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>AppBundle</h2>
    <strong><b>Method: {{ collector.getData('method') }}</b></strong>
{% endblock %}