{% extends 'base.html.twig' %}

{% block title %}Crypto{% endblock %}

{% block body %}

        <!-- SAMPLE div {{ stimulus_controller('@symfony/ux-chartjs/chart') }}> </div-->

        <!-- Crypto -->
        <section class="crypto-section text-center mt-100" id="crypto">
            <div class="px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-12">
                        <h2 class="mb-4">Conversion cryptographique</h2>

                        {% set flashes = app.flashes(['success']) %}
                        {% if flashes.success is not empty %}
                        <div class="alert alert-success">
                            {% for label, messages in flashes %}
                                {% for message in messages %}
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div>
                            {{ form(form) }}
                        </div>

                        {% if result is not empty %}
                        <div>
                            Result: {{ result }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
